.1_2 { 
	overflow:hidden;
}
.e1_2 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}
.e3_7 { 
	width:1431px;
	height:1010px;
	position:absolute;
	left:0px;
	top:14px;
	background-image:url(../img/img_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e4_19 { 
	color:rgba(255, 255, 255, 1);
	width:1023px;
	height:412px;
	position:absolute;
	left:219px;
	top:833px;
	font-family:Inter;
	text-align:center;
	font-size:50px;
	letter-spacing:0;
}
.e4_20 { 
	background-color:rgba(255, 122.40000486373901, 0, 1);
	width:453px;
	height:139px;
	position:absolute;
	left:470px;
	top:694px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}
.e4_21 { 
	color:rgba(255, 255, 255, 1);
	width:380px;
	height:87px;
	position:absolute;
	left:497px;
	top:719px;
	font-family:Inter;
	text-align:center;
	font-size:50px;
	letter-spacing:0;
}
.e4_25 { 
	background-color:rgba(255, 255, 255, 0);
	width:68px;
	height:48px;
	position:absolute;
	left:305px;
	top:957px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}
.e4_24 { 
	background-color:rgba(255, 229.50002431869507, 0, 1);
	width:68px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
}
.e4_37 { 
	background-color:rgba(255, 255, 255, 0);
	width:68px;
	height:48px;
	position:absolute;
	left:373px;
	top:957px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}
.ei4_37_4_24 { 
	background-color:rgba(255, 229.50002431869507, 0, 1);
	width:68px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
}
.e4_39 { 
	background-color:rgba(255, 255, 255, 0);
	width:68px;
	height:48px;
	position:absolute;
	left:441px;
	top:957px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}
.ei4_39_4_24 { 
	background-color:rgba(255, 229.50002431869507, 0, 1);
	width:68px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
}
.e4_41 { 
	background-color:rgba(255, 255, 255, 0);
	width:68px;
	height:48px;
	position:absolute;
	left:509px;
	top:957px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}
.ei4_41_4_24 { 
	background-color:rgba(255, 229.50002431869507, 0, 1);
	width:68px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
}
.e4_43 { 
	background-color:rgba(255, 255, 255, 0);
	width:68px;
	height:48px;
	position:absolute;
	left:577px;
	top:957px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}
.ei4_43_4_24 { 
	background-color:rgba(255, 229.50002431869507, 0, 1);
	width:68px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
}
